# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, profiling with pprof
*.test
*.out
*.prof

# Folder hasil build dari alat "Air" (Hot-Reload)
/tmp/

# Folder cache Golang khusus Docker (dari docker-compose.yml)
/.gocache/

# Environment Variables
.env
.env.local
.env.*

# OS-specific files (Mac)
.DS_Store

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
